.footer{
    background-color: $black;
    padding: 1.35rem 0;
}
.footer__inner{
    display:flex;
    justify-content: space-between;
}
.footer__credits{
    display: flex;
    align-items: center;
}
.footer__copyright{
    padding-right: 0.8rem;
    margin-right: 1rem;
    font-size: 0.94rem;
    color: #8D8D8E;
    border-right: 1px solid #6A696B ;
}
svg{
    fill:$white
}
.footer__social{
    display: flex;
    align-items: center;
  svg{
      margin-right: 1.2rem;
  }
}
.footer__nav{
    display: flex;
    align-items: center;
}
.footer__nav--link{
    margin-right: 1rem;
    color: $gray;
    font-size: 0.93rem;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}
.footer__nav-link--btn{
    border:1px solid $gray-light ;
    border-radius: 20px;
    padding: .5rem 1.4rem;
    line-height: 1.1;
    &:hover{
        background-color: #BBBCCC;
    }
}